	.container{
		border: 2px solid red;
    	margin: auto;
    	margin-top: 50px;
	    padding: 10px;
    	width: 465px;
    	height: 390px;
	}
	.box{
		border: 1px solid green;
    	width: 150px;
    	
    	display: inline-block;
    	height: 125px;
	}